
.toolbarvertical {
  /*width: 32px;*/
  display: flex;
  margin: 0px;
  flex-direction: column;
}

.toolbarhorizontal {
  /*flex: 1;*/
  display: flex;
  flex-direction: row;
}

.toolbarcentered {
  text-align: center;
}

.tooltitlebar {
  height: 20px;
  line-height: 18px;
  margin-bottom: 2px;
  padding: 2px;
  line-height: 17px;
  background: #dedbdb;
  color: #696767;
  text-align: center;
  font-weight: bold;
}

.toolmenuhorizontal {
  height: 24px;
  /*border: 1px solid #d2d1d1;*/  
  margin-bottom: 4px;
}

.toolicon {
  width: 32px;
  height: 32px;
  border: 3px solid #545454;
  margin: 2px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

.tooliconselected {
  width: 32px;
  height: 32px;
  border: 3px solid #54545400;
  background: #4a4619;
  margin: 2px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

.tooliconfloat {
  padding: 0px;
    
  position: fixed;
  width: 38px;
  height: 38px;
  border: 2px solid #8a8a8a;
  margin: 2px;
  padding: 0px;
  overflow: hidden;
  border-radius: 19px;

  background: gold;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);  
}

.tooliconfloathoverable:hover {
  padding: 0px;

  position: fixed;
  width: 38px;
  height: 38px;
  border: 2px solid black;
  margin: 2px;
  
  overflow: hidden;
  border-radius: 19px;

  background-color: #ffef9c;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.28);  
}

.toolbutton {
  border: 3px solid #eae6e6;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
  color: #696767;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.draggable {
  cursor: hand;
}

.hoverable {
  cursor: hand;
}

.hoverable:hover {
  border: 3px solid #717171;
}

.hoverable:active {
  background: #9bbeda;
}

.tooliconsmall {
  width: 22px;
  height: 22px;
  border: 3px solid #eae6e6;
  margin: 2px;
  padding-left: 2.5px;
  padding-top: 2px;
  overflow: hidden;
  float: left;
}

.tooliconsmall:hover {
  border: 3px solid #d4cdcd;
}

.tooliconsmall:active {
  background: #9bbeda;
}

.toggleon {
  background: #9bbeda;
}

.diagram {
  flex: 1;
  position: relative;
}

.icon {
  width: 26px;
  height: 26px;
  border: 0px solid;  
}

.iconinverted {
  filter: invert(100%);
}

.slimstatusbartext {
  font-size: 8pt;
  color: #6b6969;
}

.popupmenu {
  position: absolute;
  z-index: 1000;

  /*width: 32px;*/
  display: flex;
  margin: 0px;
  flex-direction: column;

  padding: 2px;

  left: 10px;
  top: 10px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);  
}

.tool-disabled {
  opacity: 0.5;
}

.tool-enabled {
  cursor: pointer;
}

.centeredicon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*text-align: center;*/
  margin-left: 4px;
}

.toolbarwidth {
  width: 36px;
}

.toolbarheight {
  height: 36px;
}

.texticon {
  color: white;
  font-size: 22pt;
  line-height: 22pt;
  padding: 0px;
}

.floathandle {
  margin-left: 6px;
  margin-right: 4px;
  margin-bottom: 6px;
  margin-top: 6px;
  border: 1px inset #9a9999;
  /* border-left: 3px solid #b5b5b5; */
  padding: 0px; 
}

.toolbarfiller {
  background: #2f2f2f;
}

.toolbarfillermedium {
  background: #3a3939;
}
